PORT=1000
NODE_ENV=production
MONGODB_URI=mongodb+srv://sp-worldtech:lTT04LuXdEZJQVvA@sp-worldtech.hkh15ff.mongodb.net/?appName=sp-worldtech
JWT_SECRET=c4e09d05d7326c4aec6330227a360084c9111d79cf55bb836b1a4bf2f15c77b6b673b2eb3541541d89ede49cb64fe3f68b3c200b2310493132dcc956886133a4
CLIENT_URL=https://spworldtech.com
FRONTEND_URL=https://spworldtech.com
BACKEND_PUBLIC_URL=https://spworldtech.com
API_BASE_URL=https://spworldtech.com/api

ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password
ADMIN_EMAIL=admin@spworldtech.com
ADMIN_SETUP_CODE=your_long_random_admin_setup_code

TYNA_INTERNAL_API_KEY=your_tyna_internal_api_key
TYNA_VERIFY_URL=https://tynasystems.com/api/dev-token/verify
TYNA_TRANSFER_URL=https://tynasystems.com/api/dev-token/transfer
SPWORLDTECH_TYNA_TOKEN_ENCRYPTION_SECRET=your_long_random_encryption_secret
TYNA_SPWORLDTECH_PERCENTAGE=100

GOOGLE_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret

PAYSTACK_PUBLIC_KEY=pk_live_your_public_key
PAYSTACK_SECRET_KEY=sk_live_your_secret_key
PAYSTACK_CALLBACK_URL=https://spworldtech.com/crypto-exchange.html
PAYSTACK_EBOOK_CALLBACK_URL=https://spworldtech.com/marketplace.html
PAYSTACK_CURRENCY=NGN
PAYSTACK_SERVICE_CALLBACK_URL=https://spworldtech.com/dashboard.html

USD_TO_NGN_RATE=0
FX_RATE_URL=https://open.er-api.com/v6/latest/USD

AZURE_TRANSLATOR_REGION=global
AZURE_TRANSLATOR_ENDPOINT=https://api.cognitive.microsofttranslator.com
AZURE_TRANSLATOR_KEY=your_azure_translator_key
